<h1>About me</h1>
<p>Ein junger Kreativer, der nicht weiß, ob es Kunst ist, was er macht, oder nicht. Offen einladende Selbstreflexion, die versucht eine Antwort darauf zu finden, was es heißt in der modernen Welt erwachsen zu werden. Wenn man plötzlich selbstverantwortlich mit dem eigenen Kopf zu tun hat und sich ganz nebenbei noch versucht irgendwo im großen Chaos unserer Welt miteinzuordnen- oder eben auch nicht. 
Ich bin 20 Jahre jung und leidenschaftlicher Erschaffer von Momenten zum Nachfühlen. Meine Fotografie soll Momente einfangen, die so noch nie zuvor eingefangen worden sind. Schon in Neuseeland ein Jahr lang als Content-Creator mit Fokus auf Video-Erstellung gearbeitet, zahlreiche Fotos geschossen und das ein oder andere Gedicht verfasst. Hohe Qualität mit emotionaler Ästhetik.</p>

