<div class="inner cover">
  <h1 class="cover-heading">bencanwrite</h1>
  <p class="lead">Poesie aus purer Empfindung heraus. Nicht mehr und nicht weniger. Einfach nur die Art eines jungen "Erwachsenwerdenden" sich mit dem Leben und all seinen Fein- und Wirrheiten zu beschäftigen. Untermauert durch Fotografie, die zum "Nachfühlen" einlädt und demselben Geist entspringt.</p>
  <p class="lead">
    <%= link_to "Learn more", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

